<mat-toolbar>
  <span style="margin: 0 15px;">Registration</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
    <form class="my-form">
       <mat-form-field class="full-width">
              <mat-label>Nome</mat-label>
              <input  matInput placeholder="Nome"  name=""  required>
           </mat-form-field>
           <mat-form-field class="full-width">
              <mat-label>Sobrenome</mat-label>
              <input  matInput placeholder="Sobrenome" name=""  required>
           </mat-form-field>
           <mat-form-field class="full-width">
              <mat-label>E-mail</mat-label>
              <input  matInput placeholder="E-mail" name=""  required>
           </mat-form-field>
           <mat-form-field class="full-width">
              <mat-label>CPF</mat-label>
              <input  matInput  placeholder="CPF" name="" required>
           </mat-form-field>
           <mat-form-field class="full-width">
              <mat-label>Usuario (Login)</mat-label>
              <input  matInput  placeholder="login" name="" required>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Senha (Password)</mat-label>
              <input  matInput  placeholder="password" name="" required>
            </mat-form-field>
    </form>
  </mat-card-content>

   <mat-card-actions>
     <button mat-raised-button class="btn btn-primary">REGISTRAR</button>
   </mat-card-actions>
</mat-card>
