<mat-toolbar>
  <span style="margin: 0 15px;">Registration</span>
</mat-toolbar>

<mat-card class="my-card">
  <mat-card-content>
    <form class="my-form" [formGroup]="formulario" (ngSubmit)="onSubmit()">
           <mat-form-field class="full-width">
              <mat-label>Nome</mat-label>
              <input  matInput placeholder="Nome" formControlName="nome" id="nome" required>
           </mat-form-field>
           <mat-form-field class="full-width">
              <mat-label>Sobrenome</mat-label>
              <input  matInput placeholder="Sobrenome" formControlName="sobrenome" id="sobrenome"  required>
           </mat-form-field>
           <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input  matInput placeholder="Email" formControlName="email" id="email"  required>
           </mat-form-field>
           <mat-form-field class="full-width">
            <mat-label>CPF</mat-label>
            <input  matInput placeholder="CPF" formControlName="cpf" id="cpf"  required>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>login</mat-label>
              <input  matInput placeholder="Login" formControlName="login" id="login"  required>
           </mat-form-field>
           <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input  matInput placeholder="Password" formControlName="password" id="password"  required>
         </mat-form-field>
           <mat-card-actions>
            <button mat-raised-button type="submit" class="btn btn-primary">REGISTRAR</button>
          </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>

