<mat-toolbar>
  <span style="margin: 0 15px;">Registration</span>
</mat-toolbar>

<mat-card class="my-card">
  <mat-card-content>
    <form class="my-form" [formGroup]="formulario" (ngSubmit)="onSubmit()">
           <mat-form-field class="full-width">
              <mat-label>Nome da Instituição</mat-label>
              <input  matInput placeholder="Nome do Evento" formControlName="nomeFantasia" id="nomeFantasia" required>
           </mat-form-field>
           <mat-form-field class="full-width">
              <mat-label>CNPJ</mat-label>
              <input  matInput placeholder="CNPJ" formControlName="cnpj" id="cnpj"  required>
           </mat-form-field>
           <mat-form-field class="full-width">
              <mat-label>Campus</mat-label>
              <input  matInput placeholder="Campus" formControlName="campus" id="campus"  required>
           </mat-form-field>
           <mat-card-actions>
            <button mat-raised-button type="submit" class="btn btn-primary">REGISTRAR</button>
          </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>


